html {
    height: 99%;
    margin: 0;
    padding: 0;
    border-width: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    border-width: 0;
}

#container {
    width: 100%;
    height: 100%;
}

#left {
    display: inline-block;
    width: 49%;
    height: 100%;
}

#in {
    width: 100%;
    height: 100%;
}

#right {
    display: inline-block;
    padding-left: 1px;
    width: 50%;
    height: 100%;
    border-left: 1px dashed;
}

#out {
    width: 100%;
    height: 100%;
    border: none;
}
