html, body {
    margin: 0px;
    padding: 0px;
}

#background {
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-family: "Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif, FreeSans, Arimo;
}

#container {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 50px;
    margin: 0 auto;
}

#container input, button {
    border: none;
    outline: none;
}

#container input {
    width: 100%;
    height: 100%;
    padding-left: 13px;
    border: 2px solid #c5464a;
    border-radius: 5px;
    caret-color: #c5464a;
    color: #c5464a;
    font-size: 1.4rem;
    background: transparent;

}

#container button {
    top: 0;
    right: -20px;
    width: 25%;
    height: 105%;
    cursor: pointer;
    position: absolute;
    color: #DFD8C3;
    font-size: 1.4rem;
    background: #c5464a;
    border-radius: 0 5px 5px 0;
}